footer {
    background-image: url(../images/42396efa-530a-439a-8431-ee9d37183233.png) ;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #434343 !important ;
}

fondo {
	background-color:#000000;
}

@media (min-width: 1200px)
.container {
width: auto !important;
}

.container {
	width: auto;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.tips {
	
	background-color:#fff !important ;
    width: auto;
	height: auto;
    margin-right: auto !important;
    margin-left: auto !important;
}


@media (min-width: 1200px)
.col-lg-4 {
width: 400px!important;
margin-left: 10px !important;
margin-right: -1px !important;
}

.btn {
    float: right !important;
}

footer .container .row .col-lg-4 p, footer .container .row .col-lg-4 .direccion  {
    color: #fff !important;
    margin-top: 10px !important;
    padding: 5px  !important;;
}

.foot{
    text-align: left !important;
}

 .infoCentro {
    border-right-style: dotted;
    border-right-color: #fff;
    border-right-width: 2px;
    border-left-style: dotted;
    border-left-color: #fff;
    border-left-width: 2px;
     margin-top: 5px;
}

.derAutor {
    text-align: center;
    border-top-style: dotted;
    border-top-color: #fff;
    border-top-width: 2px;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}

.imgfoot{
    margin-top: 20px !important;
}


/**** CSS pagina informacion ***/
.info { 
padding-top: 70px;
}
.titulo { 
color: #ffffff !important;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}


.titulos { 
color: #434343 !important;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

.texto-tips{
color: #ffffff !important;
font-size: 18px;
text-align: justify;
margin: 50px !important;
background-color:  rgba(0, 0, 0, 0.55),
	}


.texto-info{
color: #000000 !important;
font-size: 18px;
text-align: justify;

	}
	
.img-info{
border-color: #434343;
background-color: #434343;
border-style: solid;
border-width: 20px;
margin: 20px !important;
width: 20% !important;
position: center;
}
	

hr{
	background-image: url(../images/linea.png) ;
}
.milinea{
    border-top: 10px solid #eee !important;}

.misimg{
    border: 17px solid #4e4d49;
    
}

.row{
    margin-bottom: 12px;
    
}

h2 {
    font-size: 30px !important ;
    color: #000 !important;
        
}

h3 {
    font-size: 20px !important;
    color: #000 !important;
        
}

.rowlog{
    padding-top: 150px !important;
}
	
.mitexto{
    color : #272727 !important;
    text-align: center;
}    

.comentarios{
    color : #272727 !important;
} 
.comment {
    border-color: #696969;
border-style: double;
    width: 80%;
}